{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Rubik-Medium;
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf)
}

.container{
    width: 1180xp;
    height: 100vh;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.header{
    height: 40px;
    padding-top: 32px;
    background-color: coral
    display: flex;
    align-items: center;
}

.header_logo{
    display:flex;
    align-items: center;
}

.header_logo_name{
    font-family: Rubik-Medium;
    margin-left: 11.88px;
    font-size: 20px;
    color: #333333
}    

.header_search{
    display: flex;
    align-items: center;
}
.header_search_input{
    width: 320px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #333333
    font-wright: 400;
    font-size: 16px;
    color: #333333;
    font-family: Rubik-Medium;
}

.header_search_input{
    outline: none;
}

.header_search_input::placeholder{
    font-family: Rubik-Regular;
    color: #828282;
}

.header_search_btn{
    font-weigth: 500;
    font-size: 16px;
    color: #e5261e;
    font-family: Rubik-Medium;
    border: none;
    background: none;
    margin-left: 32px;
}


.header_search_btn{
    width: 113px;
    height: 38px;
    background-color: #e5261e;
    border: none;
    font-family: Rubik-Medium;
    color:azure
    font-size: 16px;
    border-radius: 4px; 
}

.footer{
    
}